.bodyStyle {
    height: 100%;
    background: #f2f2f1;
    font-family: "Microsoft YaHei UI" "Microsoft YaHei";
    color: #000;
    font-size: medium;
    padding: 0px;
    margin: 0px;
}

.height76 {
    height: 76px;
}

.num1_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: 0px 0px;
    z-index: 105;
}

.num1_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: 0px -22px;
    z-index: 105;
}

.num2_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -22px 0px;
    z-index: 105;
}

.num2_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -22px -22px;
    z-index: 105;
}

.num3_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -44px 0px;
    z-index: 105;
}

.num3_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -44px -22px;
    z-index: 105;
}

.num4_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -66px 0px;
    z-index: 105;
}

.num4_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -66px -22px;
    z-index: 105;
}

.num5_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -88px 0px;
    z-index: 105;
}

.num5_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -88px -22px;
    z-index: 105;
}

.num6_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -110px 0px;
    z-index: 105;
}

.num6_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -110px -22px;
    z-index: 105;
}

.num7_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -132px 0px;
    z-index: 105;
}

.num7_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -132px -22px;
    z-index: 105;
}

.num8_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -154px 0px;
    z-index: 105;
}

.num8_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -154px -22px;
    z-index: 105;
}

.num9_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -176px 0px;
    z-index: 105;
}

.num9_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -176px -22px;
    z-index: 105;
}

.num10_light {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -198px 0px;
    z-index: 105;
}

.num10_dark {
    background-image: url('../img/serial_num.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -198px -22px;
    z-index: 105;
}

.line_light {
    background-image: url('../img/line_light.png');
    background-repeat: repeat-y;
    width: 22px;
    height: 63px;
    background-position: -11px 0px;
    z-index: 105;
}

.line_dark {
    background-image: url('../img/line_dark.png');
    background-repeat: repeat-y;
    width: 22px;
    height: 63px;
    background-position: -11px 0px;
    z-index: 105;
}

.exp_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/exp.png') no-repeat;
    width: 25px;
    height: 25px;
}

.exp_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/exp_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.iconLable {
    font-size: 0.7em;
    color: #000;
    font-family: 'Microsoft YaHei';
}

.save_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/save.png') no-repeat;
    width: 25px;
    height: 25px;
}

.save_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/save_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.return_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/return.png') no-repeat;
    width: 25px;
    height: 25px;
}

.return_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/return_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.enable_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/enable.png') no-repeat;
    width: 25px;
    height: 25px;
}

.enable_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/enable_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

/*禁用启用按钮*/
.enable_disenable {
    background-color: transparent;
    border: 0;
    background: url('../img/enable_dis.png') no-repeat;
    width: 25px;
    height: 25px;
}

.disenable_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/disenable.png') no-repeat;
    width: 25px;
    height: 25px;
}

.disenable_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/disenable_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

/*禁用禁用按钮*/
.disenable_disenable {
    background-color: transparent;
    border: 0;
    background: url('../img/disenable_dis.png') no-repeat;
    width: 25px;
    height: 25px;
}

.search_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/search_unPress.png') no-repeat;
    width: 32px;
    height: 32px;
}

.search_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/search_Press.png') no-repeat;
    width: 32px;
    height: 32px;
}

.edite_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/edt.png') no-repeat;
    width: 25px;
    height: 25px;
}

.edite_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/edt_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

/*禁用编辑按钮*/
.edite_disenable {
    background-color: transparent;
    border: 0;
    background: url('../img/editanddel_dis.png') no-repeat;
    width: 25px;
    height: 25px;
    background-position: 0px 0px;
}

.saveWs_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/saveWs.png') no-repeat;
    width: 25px;
    height: 25px;
}

.saveWs_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/saveWs_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.saveDs_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/saveDs.png') no-repeat;
    width: 25px;
    height: 25px;
}

.saveDs_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/saveDs_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.impDb_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/impDb_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.impDb_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/impDb.png') no-repeat;
    width: 25px;
    height: 25px;
}

/*禁用导入数据按钮*/
.impDb_disenable {
    background-color: transparent;
    border: 0;
    background: url('../img/impDb_dis.png') no-repeat;
    width: 25px;
    height: 25px;
}

.expDb_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/expDb_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.expDb_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/expDb.png') no-repeat;
    width: 25px;
    height: 25px;
}

/*禁用导出数据按钮*/
.expDb_disenable {
    background-color: transparent;
    border: 0;
    background: url('../img/expDb_dis.png') no-repeat;
    width: 25px;
    height: 25px;
}

.releation_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/releation_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.releation_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/releation.png') no-repeat;
    width: 25px;
    height: 25px;
}

.add_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/add.png') no-repeat;
    width: 25px;
    height: 25px;
}

.add_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/add_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.delete_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/del.png') no-repeat;
    width: 25px;
    height: 25px;
}

.delete_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/del_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

/*禁用删除按钮*/
.delete_disenable {
    background-color: transparent;
    border: 0;
    background: url('../img/editanddel_dis.png') no-repeat;
    width: 25px;
    height: 25px;
    background-position: -39px 0px;
}

.start_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/start.png') no-repeat;
    width: 25px;
    height: 25px;
}

.start_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/start_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

/*禁用开始按钮*/
.start_disenable {
    background-color: transparent;
    border: 0;
    background: url('../img/start_dis.png') no-repeat;
    width: 25px;
    height: 25px;
}

.stop_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/stop.png') no-repeat;
    width: 25px;
    height: 25px;
}

.stop_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/stop_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

/*禁用停止按钮*/
.stop_disenable {
    background-color: transparent;
    border: 0;
    background: url('../img/stop_dis.png') no-repeat;
    width: 25px;
    height: 25px;
}

.detail_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/detail.png') no-repeat;
    width: 25px;
    height: 25px;
}

.detail_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/detail_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

/*禁用详情按钮*/
.detail_disenable {
    background-color: transparent;
    border: 0;
    background: url('../img/detail_dis.png') no-repeat;
    width: 25px;
    height: 25px;
}

.previous_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/previous.png') no-repeat;
    width: 25px;
    height: 25px;
}

.previous_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/previous_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.next_unPress {
    background-color: transparent;
    border: 0;
    background: url('../img/next.png') no-repeat;
    width: 25px;
    height: 25px;
}

.next_Press {
    background-color: transparent;
    border: 0;
    background: url('../img/next_p.png') no-repeat;
    width: 25px;
    height: 25px;
}

.menuPageSelectStyle {
    text-align: center;
    vertical-align: central;
    border: thin solid #b7b7b7;
}

div#menu {
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 35px;
    overflow: hidden;
    padding-top: 20px;
    color: #000;
}

table#menuTablePage {
    width: 490px;
    height: 35px;
    margin: auto auto;
}

.anglebrackets {
    width: 15px;
    color: #2573c7;
    font-weight: bold;
}

.divPageNum {
    display: block;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.pageNum {
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    line-height: 25px; /*addnew*/
    border: none;
    width: 45px;
    height: 25px;
    color: #2573c7;
    /*text-align: center;
    vertical-align: central;*/
    margin: -1px;
    background-color: transparent;
}

.divPageCount {
    display: block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding-left: 3px;
    /*background: url('../img/selectbg.png') no-repeat!important;*/
    background: url('../img/selectbg.png') no-repeat;
}

.pageCount {
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    line-height: 25px;
    border: none;
    width: 45px;
    height: 25px;
    color: #fff;
    padding: 5px 0;
    /*text-align: center;
    vertical-align: central;*/
    /*background: none;*/
    border-style: none;
    /*background-color: transparent;*/
    /*margin-bottom: auto;
    margin-top: auto;*/
    margin: -1px;
    _filter: alpha(opacity=0);
    /*_opacity: 0;*/
    background-color: transparent;
}

    .pageCount.select:focus {
        color: #fff;
    }

.pageCountOption {
    color: #000;
}

    .pageCountOption::selection {
        color: #fff;
    }

.input400 {
    width: 400px;
    text-align: left;
    padding-left: 5px;
    vertical-align: central;
    margin-top: 5px;
    margin-bottom: 5px;
    border: thin solid #b7b7b7;
    font-family: 'Microsoft YaHei';
}

.input370 {
    width: 365px;
    text-align: left;
    padding-left: 5px;
    vertical-align: central;
    margin-top: 5px;
    margin-bottom: 5px;
    border: thin solid #b7b7b7;
    font-family: 'Microsoft YaHei';
}

.input130 {
    width: 130px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    padding-left: 5px;
    vertical-align: central;
    margin-top: 5px;
    margin-bottom: 5px;
    border: thin solid #b7b7b7;
    font-family: 'Microsoft YaHei';
}

.input150 {
    width: 150px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    padding-left: 5px;
    vertical-align: central;
    margin-top: 5px;
    margin-bottom: 5px;
    border: thin solid #b7b7b7;
    font-family: 'Microsoft YaHei';
}

.input180 {
    width: 180px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    padding-left: 5px;
    vertical-align: central;
    margin-top: 5px;
    margin-bottom: 5px;
    border: thin solid #b7b7b7;
    font-family: 'Microsoft YaHei';
}

.inputNoWidth {
    text-align: left;
    padding-left: 5px;
    vertical-align: central;
    margin-top: 5px;
    margin-bottom: 5px;
    border: thin solid #b7b7b7;
    font-family: 'Microsoft YaHei';
}

.head {
    vertical-align: central;
    font-family: 'Microsoft YaHei';
    color: #000;
}

.sysSelectName {
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    color: #393b3b;
}

.tableBorderStyle {
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: 'Microsoft YaHei';
    color: #000;
}

.tableContentHead {
    height: 38px;
    background: #fff;
    text-align: center;
    font-family: 'Microsoft YaHei';
    color: #444445;
}

.tableContentEndsHead {
    height: 38px;
    background: #fff;
    text-align: center;
    font-family: 'Microsoft YaHei';
    color: #444445;
    min-width: 50px;
}

.tableContentNum {
    /*text-align: center;
    vertical-align: central;
    font-family: 'Microsoft YaHei';
    color: #2573c7;*/
    text-align: center;
    vertical-align: top;
    padding-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    color: #2573c7;
}

.tableContentNumNoTip {
    text-align: center;
    vertical-align: central;
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    color: #2573c7;
}

.tableContent {
    background: #c5c5c5;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    color: #444445;
    line-height: 200%;
    word-wrap: break-word;
    font-size: 0.8em;
    font-family: 'Microsoft YaHei';
}

.tableContentCenter4Bg {
    background: #c5c5c5;
    text-align: center;
    vertical-align: central;
    color:#444445;
    line-height: 200%;
    word-wrap: break-word;
    font-size: 0.8em;
    font-family: 'Microsoft YaHei';
}

.tabelContentCenter {
    text-align: center;
    vertical-align: central;
    height: 35px;
    font-family: 'Microsoft YaHei';
    color: #000;
    line-height: 150%;
    padding: 5px;
    word-wrap: break-word;
}

.tabelContentleft {
    font-family: 'Microsoft YaHei';
    color: #000;
    line-height: 150%;
    text-align: left;
    word-wrap: break-word;
}

.tableContentEdit {
    min-width: 100px;
    text-align: center;
    vertical-align: central;
}

.marginTop30 {
    margin: 30px auto auto auto;
    width: 100%;
}

.marginTop10 {
    margin: 10px auto auto auto;
    width: 100%;
}

.searchHeadLeft30 {
    vertical-align: central;
    font-family: 'Microsoft YaHei';
    color: #000;
    padding-left: 30px;
}

.groupbox {
    font-size: 14px;
    font-family: verdana;
    border: 2px groove #ffffff;
    background-color: #fff;
    width: 180px;
}

.cent2 {
    font-family: verdana;
    font-size: 12px;
    line-height: 150%;
    padding: 5px;
    text-align: left;
    background-color: #f2f2f1;
    word-wrap: break-word;
    font-family: 'Microsoft YaHei';
}

.bgColor {
    background: #c5c5c5;
    color: #444445;
}

.cent {
    font-family: verdana;
    font-size: 0.8em;
    line-height: 150%;
    padding: 5px;
    text-align: left;
    word-wrap: break-word;
    font-family: 'Microsoft YaHei';
}

.padding10 {
    font-family: 'Microsoft YaHei';
    text-align: right;
    padding-bottom: 10px;
    font-size: 12px;
}

/*seeRole*/
.textBoxStyle {
    height: 25px;
    line-height: 25px;
    text-align: left;
    padding-left: 5px;
    vertical-align: central;
    margin-top: 5px;
    margin-bottom: 5px;
    border: thin solid #b7b7b7;
}

.height20 {
    height: 20px;
}

.height10 {
    height: 10px;
}

.roleAuth {
    background: #c5c5c5;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    color: #444445;
    line-height: 200%;
    font-size: 0.8em;
    font-family: 'Microsoft YaHei';
}

.roleQuli {
    text-align: right;
    vertical-align: top;
    padding-top: 10px;
    font-size: 0.8em;
    word-wrap: break-word;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    color: #393b3b;
}

.paddingTop10 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 0.8em;
    line-height: 200%;
    word-wrap: break-word;
    font-family: 'Microsoft YaHei';
    color: #393b3b;
}

.paddingTopBottom10Head {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    color: #444445;
    background: #fff;
}

.paddingTop10Head {
    padding-top: 10px;
    padding-left: 40px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    color: #444445;
}

.rectangletd {
    text-align: right;
    vertical-align: top;
    padding-top: 10px;
}

.rectangleImg {
    margin-right: -1px;
    margin-top: 5px;
}

.roleNum {
    text-align: center;
    vertical-align: top;
    padding-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    color: #2573c7;
}
/*editRole*/
.roleleftmiddleTitle {
    color: #000;
    width: 80px;
    text-align: left;
    vertical-align: central;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
}

.roleleftTopTitle {
    color: #000;
    width: 80px;
    text-align: left;
    vertical-align: top;
    padding-top: 8px;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
}

.rolecontentStyle {
    background-color: #c5c5c5;
    width: 264px;
    vertical-align: top;
    font-family: 'Microsoft YaHei';
}

.rolecontentTitleStyle {
    font-weight: bold;
    padding-left: 8px;
    height: 35px;
    font-family: 'Microsoft YaHei';
}

.rolecontentroletextStyle {
    font-weight: normal;
    padding-left: 35px;
    vertical-align: central;
    font-family: 'Microsoft YaHei';
}

.roletextStyle {
    width: 450px;
    height: 28px;
    text-align: left;
    padding-left: 5px;
    vertical-align: central;
    margin-top: 5px;
    margin-bottom: 5px;
    border: thin solid #b7b7b7;
    font-family: 'Microsoft YaHei';
}

.rolemainTable {
    margin: auto auto;
    width: 800px;
    border-spacing: 2px;
    border-collapse: separate;
}

.urlContentStyle {
    padding: 5px;
    font-family: 'Microsoft YaHei';
    word-wrap: break-word;
}

.redLable {
    color: #FF5151;
    height: 20px;
    cursor: pointer;
}

.leftArrow {
    width: 25px;
    height: 25px;
    background: url('img/leftArrow.png') no-repeat;
}

.rightArrow {
    width: 25px;
    height: 25px;
    background: url('img/rightArrow.png') no-repeat;
}

.groupboxHeader {
    font-size: 12px;
    line-height: 150%;
    padding: 5px;
    text-align: left;
    word-wrap: break-word;
    font-family: 'Microsoft YaHei';
    background-color: #c5c5c5;
    border: 1px solid #000;
}
